In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('train.csv')

In [ ]:
df.head()

   row_id  user_id  category_id  ...  followers   views engagement_score
0       1  19990.0         37.0  ...      180.0  1000.0             4.33
1       2   5304.0         32.0  ...      330.0   714.0             1.79
2       3   1840.0         12.0  ...      180.0   138.0             4.35
3       4  12597.0         23.0  ...      220.0   613.0             3.77
4       5  13626.0         23.0  ...      220.0   613.0             3.13

[5 rows x 10 columns]

In [ ]:
df = df.drop(['row_id'], axis = 1)

In [ ]:
df.describe()

            user_id   category_id  ...         views  engagement_score
count  60889.000000  60889.000000  ...  60889.000000      60889.000000
mean   13917.841186     18.304866  ...    503.548687          3.489863
std     8006.723121     11.655092  ...    268.655478          0.862733
min        1.000000      1.000000  ...     30.000000          0.000000
25%     6986.000000      8.000000  ...    229.000000          2.940000
50%    13955.000000     16.000000  ...    467.000000          3.710000
75%    20838.000000     26.000000  ...    714.000000          4.160000
max    27734.000000     47.000000  ...   1000.000000          5.000000

[8 rows x 7 columns]

In [ ]:
from sklearn.preprocessing import stan